@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Space Grotesk Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Poppins-Regular.ttf');
}

h1 {
    color: white;
    font-family: 'Space Grotesk Bold';
}

p {
    font-family: 'Space Grotesk';
}

a {
    font-family: 'Poppins Regular';
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
    transition: transform .25s ease;
}

a:hover {
    color: darkslategray;
    transform: skew(-15deg)
    scale(1.1);
}

ul {
    list-style: none;
}



button {
    background-color: #6dce99;
    color: white;
    font-size: medium;
    border: none;
    padding: 20px 50px;
    cursor: pointer;
    transition: padding .25s ease, border-radius .25s ease, box-shadow .25s ease, background-color .25s ease, transform .25s ease;
    border-radius: 20px;
    transition: filter .25s ease;
}

button:hover {
    transform: scale(1.1);    
    box-shadow: #6dce99 0px 0px 50px;
}


body {
    width: 100%;
    margin: 0;
    background-color: #febfa5;
    transition: background-color .25s ease;
}

#buttons-wrapper {
    width: 150em;
    justify-content: center;
    gap: 20px;
    display: flex;
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

#content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cta {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#yes-wrapper {
    width: 6%;
    display: flex;
    justify-content: center;
}

#shy-wrapper {
    width: 6%;
    display: flex;
    justify-content: center;
}

.shy {
    position: absolute;
}

#color-changer {
    display: flex;
    justify-content: center;
}

#color-wrapper {
    border-radius: 20px;
    padding: 2.5px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: background-color .25s ease;
}

#color-changer img {
    width: 2em;
}

#color-wrapper-border {
    padding: 1.5px;
    border-radius: 23px;
    display: inline-block;
    transition: transform .25s ease, background .25s ease, padding .25s ease;
    background: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 10s linear infinite;
}

#color-wrapper-border:hover {
    padding: 3px;
    transform: scale(1.1);
}

/* NAV */

#navwrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

#navmenuwrapper {
    position: fixed;
    top: 20px;
    left: 80px;
    transform: translateX(-65px);
    opacity: 0;
    display: none;
    transition: transform .5s ease-in-out, opacity .25s ease;
}

nav ul {
    margin-top: 0 !important;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: rgb(245, 245, 247);
    border-radius: 20px;
    box-shadow: 0px 0px 10px RGB(230, 230, 232);
}

#imagewrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    background-color: rgb(245, 245, 247);
    border-radius: 20px;
    box-shadow: 0px 0px 10px RGB(230, 230, 232);
    transition: transform .25s ease;
    cursor: pointer;
}

#imagewrapper:hover {
    transform: scale(1.05)
    rotate(15deg);
}

#imagewrapper img {
    width: 1.5em;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
}

@keyframes movingIn {
    from { transform:  translateX(-100%); }
    to { transform: translateX(0%); }
}

/* Media query */

@media only screen and (max-width: 600px) {
    #buttons-wrapper {
        width: 150em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #buttons-wrapper {
        width: 150em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    
}

@media only screen and (min-width: 1201px) {
    
}