@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Condensed SemiBold';
    src: url('../fonts/RobotoCondensed-SemiBoldItalic.ttf');
}

body {
    background-color: #000000;
    margin-top: 6vw;
    margin-bottom: 6vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

p {
    line-height: 0;
    font-family: 'Roboto Condensed SemiBold';
    font-size: 3vw;
}

h1 {
    font-family: 'Roboto Medium';
    line-height: 5px;
    font-size: 5vw;
}

#widgets {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#widgets-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    width: 100%;
}

/* ROWS */

#row-1 {
    gap: 2vw;
    display: flex;
}

#row-2 {
    gap: 2vw;
    display: flex;
}

#row-3 {
    gap: 2vw;
    display: flex;
}

#row-4 {
    gap: 2vw;
    display: flex;
}

#row-5 {
    gap: 2vw;
    display: flex;
}

/* WIDGETS */

#widget-1, #widget-2, #widget-3, #widget-4, #widget-5, #widget-6, #widget-7, #widget-8, #widget-9, #widget-10 {
    border-radius: 4vw;
}

#widget-1 {
    width: 100%;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    background-color: #FF362F;
    text-align: right;
}

.locked {
    filter: grayscale(1);
}

#widget-2 {
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    width: 100%;
    background-color: #13C055;
    text-align: right;
}

#widget-3 {
    width: 100%;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    background-color: #006AFA;
    text-align: right;
}

#widget-4 {
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    width: 100%;
    background-color: #FF8C21;
    text-align: right;
}

#widget-5 {
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    width: 100%;
    background-color: #13C055;
    text-align: right;
}

#widget-6 {
    width: 100%;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    background-color: #FF362F;
    text-align: right;
}

#widget-7 {
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    width: 100%;
    background-color: #FF8C21;
    text-align: right;
}

#widget-8 {
    width: 100%;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    background-color: #006AFA;
    text-align: right;
}

#widget-9 {
    width: 100%;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    background-color: #FF362F;
    text-align: right;
}

#widget-10 {
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 16vw;
    padding-bottom: 3vw;
    width: 100%;
    background-color: #13C055;
    text-align: right;
}

@media only screen and (max-width: 1024px) {
    #widgets-wrapper {
        transform: translateY(20vw);
    }
}

@media only screen and (max-width: 425px) {
    #widgets-wrapper {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 375px) {
    #widgets-wrapper {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 320px) {
    #widgets-wrapper {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 600px) {
    #widgets-wrapper {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 768px) {
    #widgets-wrapper {
        transform: translateY(0px);
    }
}