@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

body {
    background-color: #ADD8E6;
}

h3 {
    color: white;
    font-family: 'Poppins Medium';
}

#puzzleGrid {
    margin-top: 5em;
    color: white;
    border-collapse: collapse;
}

#puzzleGrid td {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: transform .25s ease;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}